


section.designer {
    background-image: url(../img/Banner_mage.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 874px;
    width: 1440px;
    margin: 0;
}
section{
margin: 40px;
}







/* Blog Section Ends */
.footer {
    background: #000;
    text-align: center;    
    padding-bottom: 50px;
    padding-top: 50px;
    color: #fff;
}
.footer .heading {
    text-align: center;
    display: grid;
    justify-content: center;
}
.footer .heading h4 {
    color: #fff;
}
form {
    overflow: hidden;
    display: flex;
}
    
input {
      
      float: left;
      padding: 10px 15px;
      text-align: center;
      font-family: inherit;
      font-weight: normal;
      
} 
[type=submit] {
    margin-left: -1px;
    background:#b59877;
    border: 0;
    padding: 12px 15px;
    color: #fff;
}
.footerlinks p {
    font-style: normal;
    color: #fff;
    font-size: 12px;
    font-weight: unset;
    padding-top: 20px;
}
.footerlinks span {
    padding: 20px 20px;
}
